extends layout

block content
  h1 BradBot
  p Welcome to BradBot. A fun little bot for use in a small discord community I'm a part of. It has no use or meaning to anybody else so have at it I suppose!
  br
  br
  a.btn.btn-primary(href='https://discordapp.com/oauth2/authorize?client_id=353750636937871360&scope=bot') Add Bot to Server
