nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top(style='text-align:center')
    .container
        a.navbar-brand(href='/') Home
        if !isLoggedIn
            form.form-inline(method='POST', action='/users/signin')
                input.form-control.mr-sm-2#userName(placeholder='username' name='username')
                input.form-control.mr-sm-2#userPassword(placeholder='password' name='password', type='password')
                button.btn.btn-outline-primary.my-2.my-sm-0(type='submit') Login
        else
            .navbar-nav
                a.nav-item.nav-link.animsition-link(href='/theories/list') Salty Theories
                a.nav-item.nav-link.animsition-link(href='/') Commands
                a.nav-item.nav-link.animsition-link(href='/') Pray4Pace
                a.nav-item.nav-link.animsition-link(href='/theories/war') Pot Noodle Sandwich War
                a.nav-item.nav-link.animsition-link(href='/') Me
            a.btn.btn-outline-primary.my-2.my-sm-0(href='/users/logout') Logout
.jumbotron.jumbotron-fluid#siteHeader(style='text-align:center;')
    .container
        h1.display-2 BradBot
        p.lead A small bot made with Discord.JS for a community I'm a part of.
        a.btn.btn-primary(style='color:white;', href="https://discordapp.com/oauth2/authorize?client_id=353750636937871360&scope=bot") Add Bot to Server
.container-fluid#indexContent(style='text-align:center;')
    .container#siteContent
        block content