extends layout

block content
    h1.display-3= title
    p.lead Here you'll find a list of salty theories the bot will show
    .container
        .row
            .col
                table.table.table-striped
                    thead
                        th Salty Theories
                        th
                        th
                    tbody
                        for theory in theories
                            tr
                                td= theory.SaltyTheory
                                if user.IsAdmin || user.UserName === theory.AddedBy
                                    td
                                        button.btn.btn-primary Edit
                                    td
                                        button.btn.btn-danger Delete
                                else
                                    td
                                    td
            if isLoggedIn
                .col
                    form.form-horizontal(method="POST", action="/theories/add", style='position:fixed; width: 30%')
                        .form-group
                            textarea#textarea.form-control(name='theory') Put theory here
                        // Button
                        .form-group
                            button#singlebutton.btn.hvr-radial-in(name='singlebutton') Add Salty Theory

