extends layout

block content
    h1= title
    h3
        small Here you'll find a list of salty theories the bot will show
    table.table.table-striped
        thead
            th Salty Theories
        tbody
            for theory in theories
                tr
                    td= theory
    form.form-horizontal(method="POST", action="/AddTheory")
        fieldset
            // Form Name
            legend
            // Textarea
            .form-group
                label.col-md-4.control-label(for='textarea') Salty Theory
                .col-md-4
                    textarea#textarea.form-control(name='theory') Put theory here
            // Button
            .form-group
                label.col-md-4.control-label(for='singlebutton')
                .col-md-4
                    button#singlebutton.btn.btn-primary(name='singlebutton') Add Salty Theory

